@charset "UTF-8";

body{
	text-align: center;
	
}

.error{
	color: darkred;
}

a.btn {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 120px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border-radius: 100vh;
	border-bottom: 7px solid #0686b2;
	background: #27acd9;
	color: #fff;
}
a.btn :hover {
	margin-top: 6px;
	border-bottom: 1px solid #0686b2;
	color: #fff;
}

