@charset "UTF-8";


.background {
	background-color: #fcdccc;
	padding: 20px 50px;
	text-align: center;
}
.search_box {
	margin: 20px 0px;
	text-align: left;
}
.select_box {
	width: 250px;
	height: 40px;
}
.search_button {
	width:50px;
	height: 40px;
}
.product_box {
	background-color: #a6fff6;
	width: 320px;
	height: 450px;
	padding: 30px;
	margin: 30px;
	display: inline-block;
}
.image_box {
	text-align: center;
	
}
.title_box {
	display: flex;
}
.product_name {
	font-size: 2rem;
	margin: auto;
	margin-left: 0px
}
.price {
	font-size: 1.5rem;
	margin: auto;
	margin-right: 0px;
}
.description_box {
	width: auto;
	height: 150px;
}
.cart_button {
	width: 200px;
	height: 40px;
}
.button_box {
	text-align: right;
}